# Files and directories to ignore
__pycache__/
.github/
.gitignore
Dockerfile
.dockerignore
Makefile
README.md

# Json files
*.json
!games.json

# All .env files
.env*

# Testing
test_notification.xml

# Scripts
scripts/find_channel_id.py