# Files and directories to ignore
__pycache__/
.ruff_cache/

# Json files
*.json
!games.json

# .env local file
.env.local

# Testing
test_notification.xml

# Scripts
find_channel_id.py

Neural-Network-Visualisation/

roadmap.txt