<!doctype html>
<html lang="en">

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Emerald (2004)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-emerald.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-emerald.webp') }}" alt="Pokémon Emerald (2004)">
        </a>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Fire Red (2004)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-firered.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-firered.webp') }}" alt="Pokémon Fire Red (2004)">
        </a>
    </div>
</div>

<div class="item gb col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Gold (1999)</p>
        <div class="tags">
            <span class="tag gb">Game Boy</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-gold.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-gold.jpg') }}" alt="Pokémon Gold (1999)">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Snap (1999)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag simulation">Simulation</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-snap.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-snap.jpg') }}" alt="Pokémon Snap (1999)">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Stadium (1999)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-stadium.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-stadium.jpg') }}" alt="Pokémon Stadium (1999)">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Stadium 2 (1999)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-stadium2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-stadium2.jpg') }}" alt="Pokémon Stadium 2 (1999)">
        </a>
    </div>
</div>

<div class="item gb col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Pokémon Yellow (1998)</p>
        <div class="tags">
            <span class="tag gb">Game Boy</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/pok-yellow.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/pok-yellow.webp') }}" alt="Pokémon Yellow (1998)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Power Rangers: The Fighting Edition (1995)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/powerrangers.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/powerrangers.jpg') }}" alt="Power Rangers: The Fighting Edition (1995)">
        </a>
    </div>
</div>

</html> 