<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">A Short Hike (2019)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag dplat">3D Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/shorthike.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/shorthike.jpg') }}" alt="A Short Hike (2019)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Alladin (1993)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Alladin.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Alladin.jpg') }}" alt="Alladin (1993)">
        </a>
    </div>
</div>

</html> 

