<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Hollow Knight (2017)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag metroidvania">Platformer</span>
            <span class="tag beaten">Beaten in: 2018</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/hollow.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/hollow.avif') }}" alt="Hollow Knight (2017)">
        </a>
    </div>
</div>

</html> 