<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Journey (2012)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag dplat">3D Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/journey.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/journey.jpg') }}" alt="Journey (2012)">
        </a>
    </div>
</div>

</html> 