<!doctype html>
<html lang="en">

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Figment (2017)</p>
        <div class="tags">
            <span class="tag switch">Nintendo Switch</span>
            <span class="tag adventure">Adventure</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/figment.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/figment.webp') }}" alt="Figment (2017)">
        </a>
    </div>
</div>

</html> 