<!doctype html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- My own CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eng/styles.css') }}" media="(min-width: 1301px)">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eng/styles-medium.css') }}" media="(min-width: 851px) and (max-width: 1300px)">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eng/styles-small.css') }}" media="(min-width: 601px) and (max-width: 850px)">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/eng/styles-xsmall.css') }}" media="(max-width: 600px)">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">

        <!-- Page Icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Page Title -->
        <title>André Vargas - Personal Page</title>
  
    </head>

    <body>
        
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">

                <!-- Navigation Bar Brand -->
                <a class="navbar-brand" href="/">
                    André Vargas
                    <div class="flag-icons">
                        <a href="/pt-br">
                            <img src="static/images/br.png" alt="Brazilian Flag" class="flag-icon">
                        </a>
                        &nbsp;
                        <a href="/">
                            <img src="static/images/uk.png" alt="UK Flag" class="flag-icon">
                        </a>
                    </div>
                </a>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Navigation Bar Options -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        
                        <!-- AI Projects -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            AI Projects
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/sentiment_analysis">Sentiment Analysis</a></li>
                            </ul>
                        </li>

                        <!-- Other Projects -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Other Projects
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/sentiment_analysis">Sentiment Analysis</a></li>
                            </ul>
                        </li>
                        
                        <!-- About -->
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <br><br>

        <!-- Image -->
        <img src="static/images/profile.png" class="myimg"/>

        <!-- Intro Text -->
        <div class="intro">
            Welcome!<br>My name is <strong><span>André!</span></strong><br>
            I am...
        </div> 
        
        <!-- Typing Effect -->
        <div class="typing">
            <p> 
                <div class="flex">
                  <p class="header-sub-title" id="word"></p><p class="header-sub-title blink">|</p>
                </div>
            </p>
        </div>
        
        <!-- Icon Bar -->
        <div class="icon-bar">
            <a href="https://github.com/andrevargas22"><i class="fa fa-github fa-2x fa-fw"></i></a>
            <a href="https://www.linkedin.com/in/andrevargas22/"><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
            <a href="https://medium.com/@andrevargas22/"><i class="fa fa-medium fa-2x fa-fw"></i></a> 
        </div>
        
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <!-- My own JS -->
        <script src="{{ url_for('static', filename='js/typing.js') }}"></script>

    </body>

</html>