<!doctype html>
<html lang="en">

    <!-- Header File -->
    {% include 'common/header.html' %} 

    <body>
        
        <!-- Navigation Bar -->
        {% include 'common/navbar.html' %} 

        <br><br>

        <!-- Description -->
        <div class="description_map">
            I've had the opportunity to visit some places around the world, and hopefully I will be able to visit many more!
            I'm using <a href="https://www.visitedplaces.com">visitedplaces.com</a> to show you where I've been.
        </div>

        <!-- VisitedPlaces.com code -->
        <script>
            // VisitedPlaces.com code
            var visitedplaces_config = {
            "map": "world",
            "projection": "geoNaturalEarth1",
            "theme": "dark-green",
            "water": 1,
            "graticule": 0,
            "names": 1,
            "duration": 1500,
            "slider": 0,
            "autoplay": 1,
            "autozoom": "none",
            "data": [
                {
                "colors": {},
                "places": [
                    "BR"
                ],
                "text": "My Home",
                "position": {
                    "zoomLevel": 2.7,
                    "geoPoint": {
                    "longitude": -51.4,
                    "latitude": -14.7
                    },
                    "rotationX": 56.3,
                    "rotationY": 0
                }
                },
                {
                "colors": {},
                "places": [
                    "AR"
                ],
                "text": "South America",
                "position": {
                    "zoomLevel": 1.9,
                    "geoPoint": {
                    "longitude": -60.9,
                    "latitude": -22.3
                    },
                    "rotationX": 63.1,
                    "rotationY": 0
                }
                },
                {
                "colors": {},
                "places": [
                    "PT",
                    "ES",
                    "FR",
                    "DE",
                    "BE",
                    "NL",
                    "GB",
                    "IE",
                    "NO",
                    "SE",
                    "PL",
                    "CZ",
                    "AT",
                    "HU",
                    "SK"
                ],
                "text": "Europe",
                "position": {
                    "zoomLevel": 3.8,
                    "geoPoint": {
                    "longitude": 20.4,
                    "latitude": 51
                    },
                    "rotationX": -13.7,
                    "rotationY": 0
                }
                },
                {
                "colors": {},
                "places": [
                    "MA"
                ],
                "text": "Africa",
                "position": {
                    "zoomLevel": 1.9,
                    "geoPoint": {
                    "longitude": 21.2,
                    "latitude": 1.1
                    },
                    "rotationX": -26.5,
                    "rotationY": 0
                }
                }
            ],
            "home": "BR"
            };
            </script>
            <div id="chartdiv" style="width: 100%; height: 600px; margin-top: 100px;">
            <script src="https://www.visitedplaces.com/js/common.js"></script>
            <script src="https://www.visitedplaces.com/js/viewer.js"></script>
            <!-- end: VisitedPlaces.com code -->
    
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
    </body>

</html>