<!--
    Personal Website - MLOps Stack Builder
    Author: André Vargas
    Description: Interactive tool for exploring and building MLOps technology stacks
    using Cytoscape.js for visualization.
-->
    
<!doctype html>
<html lang="en">
<head>
    <!-- Header File -->
    {% include 'base/header.html' %}

    <!-- Page CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mlops.css') }}">

    <!-- Cytoscape.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js"></script>

    <meta name="description" content="Interactive MLOps stack builder - Explore and design MLOps technology stacks">
</head>
<body>
    <!-- Navigation Bar -->
    {% include 'base/navbar.html' %}

    <div class="container-fluid">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12 text-center my-2">
                <h4 class="border-bottom border-dark p-2">MLOPs Stack Builder</h4>
                <center>
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </center>
            </div>
        </div>

        <div class="row">
            <!-- Barra lateral -->
            <div class="col-md-3 sidebar">
                <h5>MLOPs Stack Builder</h5>
                <p>Click on a block in the diagram to see more details.</p>
            </div>

            <!-- Área do diagrama -->
            <div class="col-md-9">
                <div id="cy" style="width: 100%; height: 550px; border: 1px solid #ccc;"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="toolModal" tabindex="-1" aria-labelledby="toolModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="toolModalLabel">Tool Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img id="toolLogo" src="" alt="Tool Logo" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="col-md-8">
                            <h6>Description:</h6>
                            <p id="toolDescription">Tool Description</p>
                            <h6>Advantages:</h6>
                            <ul id="toolAdvantages">
                                <li>Advantage 1</li>
                                <li>Advantage 2</li>
                            </ul>
                            <h6>Disadvantages:</h6>
                            <ul id="toolDisadvantages">
                                <li>Disadvantage 1</li>
                                <li>Disadvantage 2</li>
                            </ul>
                            <a id="toolLink" href="#" target="_blank">Visit Website</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addToStackButton" data-bs-dismiss="modal">Add to Stack</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Page JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mlops.js') }}"></script>
</body>
</html>
