/* CSS file for about page */

/* Navbar */
.navbar-nav {
    margin-left: auto;
}

.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
}

/* Typography */
body {
    font-size: 15px;
    width: 100%;
    height: 100%;
    background: #FFFAF0;
}

.text {
    text-align: justify;
}

/* About Work Experience */
.experience h4 {
    text-align: left;
}

.experience {
    margin-top: 3%;
    width: 100%;
    height: auto;
}

.experience h5 {
    color: #008080;
    font-size: 22px;
    text-transform: uppercase;
}

.experience ol,
.experience ul {
    list-style: none;
}

.experience a {
    text-decoration: none;
}

.experience img {
    width: 20%;
    float: right;
}

.experience .fa {
    color: #40E0D0;
    font-size: 35px;
}

.experience .fa-users {
    font-size: 30px;
}

/* Horizontal Timeline */
.cd-horizontal-timeline {
    position: relative;
    width: 100%;
    margin: 2em auto;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    width: 100%;
    background: #dfdfdf;
    transition: transform 0.4s;
}

.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #008080;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #383838;
    transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    transition: background-color 0.3s, border-color 0.3s;
}

.cd-horizontal-timeline .events a.selected::after {
    background-color: #008080;
    border-color: #008080;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    transition: min-height 0.4s ease-in-out;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    overflow: hidden;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}

@media only screen and (max-width: 768px) {
    .cd-horizontal-timeline .events-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .cd-horizontal-timeline .events {
        width: 100%;
    }

    .cd-horizontal-timeline .events a {
        font-size: 1rem;
    }

    .cd-horizontal-timeline .events-content li {
        padding: 0 2%;
    }

    .cd-horizontal-timeline .filling-line {
        width: 100%;
    }
}

/* Button */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #008080;
    border: none;
    text-decoration: none;
    margin-top: 3%;
    transition: background-color 0.3s ease;
    max-width: 100%;
    white-space: nowrap; 
}

.btn-primary:hover {
    background-color: #016363;
}

.btn-resume {
    margin: 20px auto; /* Add some margin to center the button */
}

.row.justify-content-center {
    margin: 0; /* Reset margin */
}

.about-img {
    border-radius: 50%; 
    width: 450px; 
    height: 450px; 
    object-fit: cover; 
    margin-left: 20px;
}
