<!doctype html>
<html lang="pt">

<head>
    <!-- Header File: Includes metadata and common links -->
    {% include 'common/header.html' %}

    <!-- Page-specific CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>
    <!-- Navigation Bar: Portuguese version -->
    {% include 'common/navbar_pt.html' %}

    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12 text-center my-2">
                <h4 class="border-bottom border-dark p-2">Sobre mim</h4>
            </div>
        </div>

        <div class="row">
            <!-- Text Column: Personal biography -->
            <div class="col-lg-8">
                <div class="text">
                    <p>
                        Minha jornada começou com um diploma em Engenharia Mecatrônica pela Universidade de Brasília, com foco em eletrônica, 
                        microcontroladores, design de hardware e programação de firmware embarcado. Além disso, tive a honra de passar um ano de 
                        intercâmbio na Cardiff University, ampliando ainda mais meus horizontes técnicos e culturais. 
                        <br><br> 
                        Inicialmente, trabalhei como Engenheiro de Hardware, focando em IoT, automação industrial e transformação digital. Após alguns anos, 
                        minha fascinação por dados e seu potencial para impulsionar a inovação me levou a migrar para Ciência de Dados e Machine Learning. 
                        <br><br> 
                        Atualmente, trabalho como Engenheiro de Machine Learning, com experiência no desenvolvimento e implantação de soluções de ML e MLOps, 
                        tendo uma sólida base em Ciência da Computação e Engenharia de Software, arquiteturas em nuvem, CI/CD e implementação de modelos 
                        e APIs em produção. 
                        <br><br> 
                        Gosto muito de estudar e sou, em grande parte, autodidata. Por exemplo, apesar de não ser um webdesigner, projetei e construí este site por 
                        conta própria, usando recursos como HTML, CSS e JavaScript. 
                        <br><br> 
                        Fora do trabalho, compartilho minha vida com minha linha esposa, Maria, cujo apoio me inspira diariamente, e nossa cachorrinha, Bibi. Sou 
                        apaixonado por games e por música, especialmente bateria. Essas paixões enriquecem minha vida, proporcionando equilíbrio e perspectiva 
                        que levo para o meu trabalho.
                    </p>
                </div>
            </div>

            <!-- Image Column: Personal photo -->
            <div class="col-lg-4 text-center">
                <img src="{{ url_for('static', filename='images/about.png') }}" alt="About Section img" class="img-fluid about-img">
            </div>
        </div>
    </div>

    <!-- Download Resume Button -->
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <a href="{{ url_for('static', filename='Resume_Andre_Vargas.pdf') }}" class="btn btn-primary btn-resume" download="Andre_CV.pdf">Baixe o meu CV!</a>
        </div>
    </div>

    <!-- Horizontal Timeline Section: Display career timeline -->
    <div class="container experience">
        <div class="row">
            <div class="col-md-12">
                <h4>Linha do tempo:</h4>

                <section class="cd-horizontal-timeline container">
                    <div class="timeline">
                        <div class="events-wrapper">
                            <div class="events">
                                <ol>
                                    <!-- Timeline events -->
                                    <li><a href="#0" data-date="01/01/2015"></a></li>
                                    <li><a href="#0" data-date="01/01/2014"></a></li>
                                    <li><a href="#0" data-date="01/01/2013"></a></li>
                                    <li><a href="#0" data-date="01/01/2012"></a></li>
                                    <li><a href="#0" data-date="01/01/2011" class="selected"></a></li>
                                </ol>
                                <span class="filling-line" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="events-content">
                        <ol>
                            <!-- Timeline content for each career milestone -->
                            <li data-date="01/01/2015">
                                <h5>Universidade de Brasília</h5>
                                <img src="{{ url_for('static', filename='images/icons/unb.png') }}" alt="UNB Logo" class="img-fluid" style="max-width: 100px;">
                                <em>2011 - 2017</em>
                                <p><strong>Engenharia Mecatrônica</strong><br>
                                    Me formei em Engenharia Mecatrônica, com um ano de intercâmbio na Cardiff University, Reino Unido.
                                </p>   
                            </li>

                            <li data-date="01/01/2014">
                                <h5>SENAI</h5>
                                <img src="{{ url_for('static', filename='images/icons/senai.png') }}" alt="SENAI Logo" class="img-fluid" style="max-width: 100px;">
                                <em>Maio 2018 - Fevereiro 2022</em>
                                <p><strong>Engenheiro de Hardware</strong><br>
                                    Desenvolvi projetos e soluções tecnológicas no Instituto SENAI de Tecnologia: Eletrônica e Automação.
                                    <br>• Eletrônica e Microcontroladores;
                                    <br>• Internet das Coisas, Automação Industrial, Indústria 4.0, Transformação Digital;
                                    <br>• Design de Hardware e Programação de Firmware Embarcado; 
                                </p>   
                            </li>

                            <li data-date="01/01/2013">
                                <h5>Falconi</h5>
                                <img src="{{ url_for('static', filename='images/icons/falconi.png') }}" alt="Falconi Logo" class="img-fluid" style="max-width: 100px;">
                                <em>Março 2022 - Dezembro 2023</em>
                                <p><strong>Engenheiro de Machine Learning</strong><br>
                                    Trabalhei em projetos de consultoria, entregando resultados valiosos para o negócio de maneira rápida, segura e escalável ao construir sistemas de Machine Learning.
                                    <br>• Soluções de arquitetura em nuvem para sistemas de Machine Learning.
                                    <br>• Implementação e implantação de modelos em produção.
                                    <br>• Uso das melhores práticas de MLOps e CI/CD.
                                    <br>• Ajuda no desenvolvimento da stack de MLOps da Falconi.
                                    <br>• Implantação do servidor MLFlow da Falconi no GCP.
                                    <br>• Criação de ativos digitais (templates, bibliotecas) para acelerar o progresso dos projetos.
                                </p>
                                <p><strong>Cientista de Dados</strong><br>
                                    Trabalhei em projetos de consultoria, entregando resultados de valor para o negócio usando ciência de dados e tecnologia.
                                    <br>• Desenvolvimento de modelos de Machine Learning supervisionados e não supervisionados para diferentes problemas de negócio.
                                    <br>• Codificação de aplicativos e bibliotecas de dados para alavancar o trabalho nos projetos.
                                </p>
                            </li>
                            
                            <li data-date="01/01/2012">
                                <h5>Stefanini Brasil</h5>
                                <img src="{{ url_for('static', filename='images/icons/stefanini.png') }}" alt="Stefanini Logo" class="img-fluid" style="max-width: 100px;">
                                <em>Janeiro 2024 - Julho 2024</em>
                                <p><strong>Cientista de Dados Sênior</strong><br>
                                    Trabalhei como contratado no Banco do Brasil, desenvolvendo diferentes tipos de modelos de Machine Learning no ambiente bancário.
                                    <br>• Desenvolvimento de modelos de risco de crédito para estimar a probabilidade de um ativo se tornar problemático.
                                    <br>• Desenvolvimento de modelos gerenciais de projeção de mercado para o Banco do Brasil.
                                </p>
                            </li>

                            <li class="selected" data-date="01/01/2011">
                                <h5>Grupo Casas Bahia</h5>
                                <img src="{{ url_for('static', filename='images/icons/gcb.jpg') }}" alt="GCB Logo" class="img-fluid" style="max-width: 100px;">
                                <em>Agosto 2024 - Present</em>
                                <p><strong>Machine Learning Engineer Specialist</strong><br>
                                    Atualmente trabalhando no time de MLOps do Grupo Casas Bahia, um dos maiores varejistas do Brasil.
                                    <br>• Migração de tabelas e pipelines do Azure para o Google Cloud Platform (GCP) 
                                    <br>• Desenvolvimento de um novo pipeline de CI/CD usando GCP Databricks e Airflow
                                </p>
                            </li>

                        </ol>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <!-- Custom JavaScript for the About page -->
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>

</body>

</html>
