<!doctype html>
<html lang="en">

    <!-- Header File -->
    {% include 'common/header.html' %} 

    <body>
        
        <!-- Navigation Bar -->
        {% include 'common/navbar.html' %} 

        <br>

        <!-- Required CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

        <div class="container">
            <!-- Page Header -->
            <div class="row">
                <div class="col-lg-12 text-center my-2">
                    <h4 class="border-bottom border-dark p-2">Arquivo de Jogos Completos</h4>
                    <center>Essa é uma lista pessoal de jogos que eu já terminei (pelo menos que eu me lembre). 
                        Estou usando como experimento para criar um Menu de Portfolio como esse usando HTML, CSS e JS.</center>
                </div>
            </div>
            
            <!-- Menu -->
            <div class="portfolio-menu mt-2 mb-4">
                <ul>
                    <li class="btn btn-outline-dark active" data-filter="*">All</li>
                    <li class="btn btn-outline-dark" data-filter=".pc">PC</li>
                    <li class="btn btn-outline-dark" data-filter=".nes">NES</li>
                    <li class="btn btn-outline-dark" data-filter=".snes">SNES</li>
                    <li class="btn btn-outline-dark" data-filter=".n64">N64</li>
                    <li class="btn btn-outline-dark" data-filter=".switch">Switch</li>
                    <li class="btn btn-outline-dark" data-filter=".gb">GB</li>
                    <li class="btn btn-outline-dark" data-filter=".gba">GBA</li>
                    <li class="btn btn-outline-dark" data-filter=".3ds">3DS</li>
                    <li class="btn btn-outline-dark" data-filter=".mega">Mega Drive</li>
                    <li class="btn btn-outline-dark" data-filter=".ps1">PS1</li>
                    <li class="btn btn-outline-dark" data-filter=".ps2">PS2</li>
                </ul>
            </div>

            <!-- Items -->
            <div class="portfolio-item row">
                
                {% include 'common/game_A.html' %}
                {% include 'common/game_B.html' %}
                {% include 'common/game_C.html' %}
                {% include 'common/game_D.html' %}
                {% include 'common/game_G.html' %}
                {% include 'common/game_H.html' %}
               
            </div>
        </div>
        
        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <!-- My own JS -->
        <script src="{{ url_for('static', filename='js/game_list.js') }}"></script>

    </body>

</html>