<!doctype html>
<html lang="en">

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Ultimate Mortal Kombat 3 (1995)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/umk3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/umk3.jpg') }}" alt="Ultimate Mortal Kombat 3 (1995)">
        </a>
    </div>
</div>

</html> 