<!doctype html>
<html lang="en">

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/Chrono.webp') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/Chrono.webp') }}" alt="Description of the image">
    </a>
    <p class="image-description">Chrono Trigger (1995)</p>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/Clayfighter.jpeg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/Clayfighter.jpeg') }}" alt="Description of the image">
    </a>
    <p class="image-description">ClayFighter 63⅓ (1997)</p>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/comix.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/comix.jpg') }}" alt="Description of the image">
    </a>
    <p class="image-description">Comix Zone (1995)</p>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/conker.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/conker.jpg') }}" alt="Description of the image">
    </a>
    <p class="image-description">Conker's Bad Fur Day (2001)</p>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/contra.png') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/contra.png') }}" alt="Description of the image">
    </a>
    <p class="image-description">Contra Hard Corps (1994)</p>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/crash1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/crash1.jpg') }}" alt="Description of the image">
    </a>
    <p class="image-description">Crash Bandicoot 1 (1996)</p>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/Cuphead.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/Cuphead.jpg') }}" alt="Description of the image">
    </a>
    <p class="image-description">Cuphead (2017)</p>
</div>