<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Batman Arkham Asylum (2009)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag action">Action</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Batman Arkham Asylum.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Batman Arkham Asylum.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Batman Arkham City (2011)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag action">Action</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Batman Arkham City.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Batman Arkham City.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Braid (2008)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag puzzle">Puzzle</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Braid.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Braid.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Brothers: A Tale of Two Sons (2013)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag adventure">Adventure</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Brother.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Brother.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>
