<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Ori and the Blind Forest (2015)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag metroidvania">Metroidvania</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/ori.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/ori.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Ori and the Will of the Wisps (2020)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag metroidvania">Metroidvania</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/ori-will.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/ori-will.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Overcooked (2016)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag simulation">Simulation</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/overcooked.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/overcooked.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>
