<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Never Alone (2014)</p>
        <a href="{{ url_for('static', filename='images/games/neveralone.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/neveralone.avif') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag platformer">Platformer</span>
        </div>
    </div>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">New Super Mario Bros. U Deluxe (2019)</p>
        <a href="{{ url_for('static', filename='images/games/mariodeluxe.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mariodeluxe.webp') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag switch">Switch</span>
            <span class="tag platformer">Platformer</span>
        </div>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">No Time to Explain (2011)</p>
        <a href="{{ url_for('static', filename='images/games/notime.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/notime.avif') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag platformer">Platformer</span>
        </div>
    </div>
</div>
