<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Inside (2016)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag metroidvania">Metroidvania</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/inside.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/inside.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Internacional Superstar Soccer Deluxe (1995)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag sports">Sports</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/iss.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/iss.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

</html> 