<!doctype html>
<html lang="en">

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/A short hike.avif') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/A short hike.avif') }}" alt="Description of the image">
    </a>
    <p class="image-description">A Short Hike (2019)</p>
</div>

<div class="item snes platformer col-lg-3 col-md-4 col-6 col-sm">
    <a href="{{ url_for('static', filename='images/games/Alladin.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        <img class="img-fluid" src="{{  url_for('static', filename='images/games/Alladin.jpg') }}" alt="Description of the image">
    </a>
    <div class="image-info">
        <p class="image-description">Alladin (1993)</p>
        <div class="tags">
            <span class="tag">SNES</span>
            <span class="tag">Platformer</span>
        </div>
    </div>
</div>