<!doctype html>
<html lang="en">

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Diddy Kong Racing (1995)</p>
        <a href="{{ url_for('static', filename='images/games/diddy.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/diddy.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag n64">N64</span>
            <span class="tag racing">Racing</span>
        </div>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Donkey Kong Country (1994)</p>
        <a href="{{ url_for('static', filename='images/games/dk1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dk1.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag platformer">Platformer</span>
        </div>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Donkey Kong Country 2 (1995)</p>
        <a href="{{ url_for('static', filename='images/games/dk2.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dk2.png') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag platformer">Platformer</span>
        </div>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Donkey Kong Country 3 (1996)</p>
        <a href="{{ url_for('static', filename='images/games/dk3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dk3.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag platformer">Platformer</span>
        </div>
    </div>
</div>

<div class="item ps1 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball GT: Final Bout (1997)</p>
        <a href="{{ url_for('static', filename='images/games/dbgt.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbgt.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag ps1">PS1</span>
            <span class="tag fighting">Fighting</span>
        </div>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Buu's Fury (2004)</p>
        <a href="{{ url_for('static', filename='images/games/db_buu.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/db_buu.webp') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag gba">GBA</span>
            <span class="tag rpg">RPG</span>
        </div>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Super Butoden 2 (1993)</p>
        <a href="{{ url_for('static', filename='images/games/dbz2.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbz2.png') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag fighting">Fighting</span>
        </div>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Super Butoden 3 (1994)</p>
        <a href="{{ url_for('static', filename='images/games/dbz3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbz3.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag fighting">Fighting</span>
        </div>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - The Legacy of Goku (2002)</p>
        <a href="{{ url_for('static', filename='images/games/dblegacy1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dblegacy1.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag gba">GBA</span>
            <span class="tag rpg">RPG</span>
        </div>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Legacy of Goku 2 (2003)</p>
        <a href="{{ url_for('static', filename='images/games/dblegacy2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dblegacy2.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag gba">GBA</span>
            <span class="tag rpg">RPG</span>
        </div>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z: Buyū Retsuden (1994)</p>
        <a href="{{ url_for('static', filename='images/games/dbmega.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbmega.png') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag fighting">Fighting</span>
        </div>
    </div>
</div>

<div class="item ps1 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z: Idainaru Dragon Ball Densetsu (1996)</p>
        <a href="{{ url_for('static', filename='images/games/dbz.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbz.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag ps1">PS1</span>
            <span class="tag fighting">Fighting</span>
        </div>
    </div>
</div>