<!doctype html>
<html lang="en">

<div class="item ps2 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Shadow of the Colossus (2005)</p>
        <div class="tags">
            <span class="tag ps2">PlayStation 2</span>
            <span class="tag action">Action</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/shadow.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/shadow.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Shining Force I (1992)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/shiningforce.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/shiningforce.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Shining Force II (1993)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/shiningforce2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/shiningforce2.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Shining Force: Resurrection of the Dark Dragon (2004)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/shiningforce2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/shining-force-resurrection.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Sonic The Hedgehog (1991)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Sonic1.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Sonic1.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Sonic The Hedgehog 2 (1992)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/sonic2.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/sonic2.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Sonic Wings (1992)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag shooter">Shooter</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/sonicwings.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/sonicwings.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">South Park (1998)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag fps">FPS</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/South-Park.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/South-Park.avif') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Spanky's Quest (1991)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Spanky.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Spanky.png') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Star Fox 64 (1997)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag shooter">Shooter</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/starfox64.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/starfox64.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item ds3 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Star Fox 64 3D (2011)</p>
        <div class="tags">
            <span class="tag ds3">Nintendo 3DS</span>
            <span class="tag shooter">Shooter</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/starfox3d.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/starfox3d.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Street Fighter 2: Turbo (1992)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/streetf.jpeg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/streetf.jpeg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Street Fighter 2: The New Challengers (1993)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/streetf2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/streetf2.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Sunset Riders (1991)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag run_gun">Run and Gun</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/sunsetriders.jpeg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/sunsetriders.jpeg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario 64 (1996)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag dplat">3D Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mario64.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mario64.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario Bros. (1985)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mario1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mario1.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario Bros. 2 (1988)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mario2.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mario2.png') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario Bros. 3 (1988)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mario3.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mario3.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario Bros.: The Lost Levels (1993)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mariolost.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mariolost.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario Kart (1992)</p>
        <div class="tags">
            <span class="tag nes">Super Nintendo</span>
            <span class="tag racing">Racing</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mariokart.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mariokart.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Mario World (1990)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/supermarioworld.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/supermarioworld.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Meat Boy (2010)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/smb.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/smb.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Super Smash Bros. (1999)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag fighting">Fighting</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Super-Smash-Bros-64.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Super-Smash-Bros-64.avif') }}" alt="Description of the image">
        </a>
    </div>
</div>

</html> 