<!doctype html>
<html lang="en">

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Golden Axe I (1989)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag beat-em-up">Beat 'em up</span>
            <span class="tag beaten">Beaten in: May/2023</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/goldenaxe.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/goldenaxe.webp') }}" alt="Golden Axe I (1989)">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Golden Axe II (1991)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag beat-em-up">Beat 'em up</span>
            <span class="tag beaten">Beaten in: May/2023</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/goldenaxe2.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/goldenaxe2.avif') }}" alt="Golden Axe II (1991)">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">GoldenEye 007 (1997)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag fps">FPS</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/goldeneye.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/goldeneye.jpg') }}" alt="GoldenEye 007 (1997)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Goof Troop (1993)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag puzzle">Puzzle</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Goof-Troop.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Goof-Troop.jpg') }}" alt="Goof Troop (1993)">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Gorogoa (2017)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag puzzle">Puzzle</span>
            <span class="tag beaten">Beaten in: Aug/2020</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/gorogoa.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/gorogoa.webp') }}" alt="Gorogoa (2017)">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">GTA San Andreas (2004)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag action">Action</span>
            <span class="tag beaten">Beaten in: Jul/2015</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/gta.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/gta.webp') }}" alt="GTA San Andreas (2004)">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Gunstar Heroes (1993)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag run_gun">Run and Gun</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/gunstar.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/gunstar.webp') }}" alt="Gunstar Heroes (1993)">
        </a>
    </div>
</div>

</html> 
