<!doctype html>
<html lang="en">

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Diddy Kong Racing (1995)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag racing">Racing</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/diddy.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/diddy.jpg') }}" alt="Diddy Kong Racing (1995)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Donkey Kong Country (1994)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dk1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dk1.jpg') }}" alt="Donkey Kong Country (1994)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Donkey Kong Country 2 (1995)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dk2.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dk2.png') }}" alt="Donkey Kong Country 2 (1995)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Donkey Kong Country 3 (1996)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dk3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dk3.jpg') }}" alt="Donkey Kong Country 3 (1996)">
        </a>
    </div>
</div>

<div class="item ps1 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball GT: Final Bout (1997)</p>
        <div class="tags">
            <span class="tag ps1">PlayStation 1</span>
            <span class="tag fighting">Fighting</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dbgt.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbgt.jpg') }}" alt="Dragon Ball GT: Final Bout (1997)">
        </a>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Buu's Fury (2004)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
            <span class="tag beaten">Beaten in: Mar/2023</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/db_buu.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/db_buu.webp') }}" alt="Dragon Ball Z - Buu's Fury (2004)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Super Butoden 2 (1993)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag fighting">Fighting</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dbz2.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbz2.png') }}" alt="Dragon Ball Z - Super Butoden 2 (1993)">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Super Butoden 3 (1994)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag fighting">Fighting</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dbz3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbz3.jpg') }}" alt="Dragon Ball Z - Super Butoden 3 (1994)">
        </a>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - The Legacy of Goku (2002)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
            <span class="tag beaten">Beaten in: Fev/2023</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dblegacy1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dblegacy1.jpg') }}" alt="Dragon Ball Z - The Legacy of Goku (2002)">
        </a>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z - Legacy of Goku 2 (2003)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
            <span class="tag beaten">Beaten in: Fev/2023</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dblegacy2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dblegacy2.jpg') }}" alt="Dragon Ball Z - Legacy of Goku 2 (2003)">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z: Buyū Retsuden (1994)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag fighting">Fighting</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dbmega.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbmega.png') }}" alt="Dragon Ball Z: Buyū Retsuden (1994)">
        </a>
    </div>
</div>

<div class="item ps1 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Dragon Ball Z: Idainaru Dragon Ball Densetsu (1996)</p>
        <div class="tags">
            <span class="tag ps1">PlayStation 1</span>
            <span class="tag fighting">Fighting</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/dbz.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/dbz.jpg') }}" alt="Dragon Ball Z: Idainaru Dragon Ball Densetsu (1996)">
        </a>
    </div>
</div>

</html> 