<!doctype html>
<html lang="en">

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">TMNT: Turtles in Time (1991)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag beat-em-up">Beat 'em up</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/turtles.jpeg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/turtles.jpeg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Awesome Adventures of Captain Spirit (2018)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag adventure">Adventure</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/captainspirit.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/captainspirit.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Begginer's Guide (2015)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag adventure">Adventure</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/beginner.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/beginner.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda (1986)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/zelda1.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/zelda1.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda II: Adventure of Link (1986)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/zelda2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/zelda2.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: A Link to the Past (1991)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/zelda_lttp.bmp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/zelda_lttp.bmp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Breath of the Wild (2017)</p>
        <div class="tags">
            <span class="tag switch">Nintendo Switch</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/botw.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/botw.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Link's Awakening (2019)</p>
        <div class="tags">
            <span class="tag switch">Nintendo Switch</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/link_awake.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/link_awake.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Majora's Mask (2000)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/majora.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/majora.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item ds3 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Majora's Mask 3D (2015)</p>
        <div class="tags">
            <span class="tag ds3">Nintendo 3DS</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/majora3d.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/majora3d.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Ocarina of Time (1998)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/ocarina.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/ocarina.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item ds3 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Ocarina of Time 3D (2011)</p>
        <div class="tags">
            <span class="tag ds3">Nintendo 3DS</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/ocarina3d.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/ocarina3d.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: Tears of the Kingdom (2023)</p>
        <div class="tags">
            <span class="tag switch">Nintendo Switch</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/totk.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/totk.webp') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item gba col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Legend of Zelda: The Minish Cap (2005)</p>
        <div class="tags">
            <span class="tag gba">Game Boy Advanced</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/minish_cap.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/minish_cap.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Mask (1995)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mask.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mask.png') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">The Stanley Parable (2013)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag adventure">Adventure</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/stanley.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/stanley.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Thomas Was Alone (2012)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag puzzle">Puzzle</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/thomas.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/thomas.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Tiny Toon Adventures: Buster Busts Loose (1992)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/tinytoon.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/tinytoon.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">To the Moon (2011)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag rpg">RPG</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/tothemoon.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/tothemoon.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Tony Hawk's Pro Skater 2 (2000)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag sports">Sports</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/tony-hawk.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/tony-hawk.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Top Gear 2 (1993)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag racing">Racing</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/top-gear-2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/top-gear-2.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

</html> 