<!doctype html>
<html lang="en">

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">X-Men Mutant Apocalypse (1994)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag beat-em-up">Beat' em up</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/xmen.png') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/xmen.png') }}" alt="X-Men Mutant Apocalypse (1994)">
        </a>
    </div>
</div>

</html> 