<!doctype html>
<html lang="en">

<div class="item mega beat-em-up col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Golden Axe I (1989)</p>
        <a href="{{ url_for('static', filename='images/games/goldenaxe.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/goldenaxe.webp') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag beat-em-up">Beat 'em up</span>
        </div>
    </div>
</div>

<div class="item mega beat-em-up col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Golden Axe II (1991)</p>
        <a href="{{ url_for('static', filename='images/games/goldenaxe2.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/goldenaxe2.avif') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag beat-em-up">Beat 'em up</span>
        </div>
    </div>
</div>

<div class="item n64 fps col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">GoldenEye 007 (1997)</p>
        <a href="{{ url_for('static', filename='images/games/goldeneye.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/goldeneye.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag n64">N64</span>
            <span class="tag fps">FPS</span>
        </div>
    </div>
</div>

<div class="item snes puzzle col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Goof Troop (1993)</p>
        <a href="{{ url_for('static', filename='images/games/Goof-Troop.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Goof-Troop.jpg') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag puzzle">Puzzle</span>
        </div>
    </div>
</div>

<div class="item pc puzzle col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Gorogoa (2017)</p>
        <a href="{{ url_for('static', filename='images/games/gorogoa.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/gorogoa.webp') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag puzzle">Puzzle</span>
        </div>
    </div>
</div>

<div class="item pc action col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">GTA San Andreas (2004)</p>
        <a href="{{ url_for('static', filename='images/games/gta.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/gta.webp') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag action">Action</span>
        </div>
    </div>
</div>

<div class="item mega run_gun col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Gunstar Heroes (1993)</p>
        <a href="{{ url_for('static', filename='images/games/gunstar.webp') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/gunstar.webp') }}" alt="Description of the image">
        </a>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag run_gun">Run and Gun</span>
        </div>
    </div>
</div>
