<!doctype html>
<html lang="en">

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mario Kart 64 (1996)</p>
        <div class="tags">
            <span class="tag n64">N64</span>
            <span class="tag racing">Racing</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mk64.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mk64.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mario Party (1998)</p>
        <div class="tags">
            <span class="tag n64">N64</span>
            <span class="tag party">Party</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mp1.avif') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mp1.avif') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mario Tennis (2000)</p>
        <div class="tags">
            <span class="tag n64">N64</span>
            <span class="tag sports">Sports</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mariotennis.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mariotennis.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mark of the Ninja (2018)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag action">Action</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/markninja.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/markninja.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mega Man (1987)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mega1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mega1.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item nes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mega Man 2 (1988)</p>
        <div class="tags">
            <span class="tag nes">NES</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mega2.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mega2.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mega Man 64 (1997)</p>
        <div class="tags">
            <span class="tag n64">N64</span>
            <span class="tag action">Action</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/mega64.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/mega64.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Metroid Dread (2021)</p>
        <div class="tags">
            <span class="tag switch">Switch</span>
            <span class="tag metroidvania">Metroidvania</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/metroiddread.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/metroiddread.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Mickey to Donald: Magical Adventure 3 (1995)</p>
        <div class="tags">
            <span class="tag snes">SNES</span>
            <span class="tag platformer">Platformer</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/magical3.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/magical3.jpg') }}" alt="Description of the image">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Middle-Earth: Shadow of Mordor (2014)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag action">Action</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/middle-earth.jpeg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/middle-earth.jpeg') }}" alt="Description of the image">
        </a>
    </div>
</div>
