<!doctype html>
<html lang="en">

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Wave Race 64 (1996)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag racing">Racing</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/wave-race.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light">
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/wave-race.jpg') }}" alt="Wave Race 64 (1996)">
        </a>
    </div>
</div>

</html> 