<!doctype html>
<html lang="en">

<div class="item snes col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Chrono Trigger (1995)</p>
        <div class="tags">
            <span class="tag snes">Super Nintendo</span>
            <span class="tag rpg">RPG</span>
            <span class="tag beaten">Beaten in: 2022</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Chrono.webp') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Chrono.webp') }}" alt="Chrono Trigger (1995)">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">ClayFighter 63⅓ (1997)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag fighting">Fighting</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Clayfighter.jpeg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Clayfighter.jpeg') }}" alt="ClayFighter 63⅓ (1997)">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Comix Zone (1995)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag beat-em-up">Beat 'em up</span>
            <span class="tag beaten">Beaten in: May/2024</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/comix.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/comix.jpg') }}" alt="Comix Zone (1995)">
        </a>
    </div>
</div>

<div class="item n64 col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Conker's Bad Fur Day (2001)</p>
        <div class="tags">
            <span class="tag n64">Nintendo 64</span>
            <span class="tag dplat">3D Platformer</span>
            <span class="tag beaten">Beaten in: Untracked</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/conker.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/conker.jpg') }}" alt="Conker's Bad Fur Day (2001)">
        </a>
    </div>
</div>

<div class="item mega col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Contra Hard Corps (1994)</p>
        <div class="tags">
            <span class="tag mega">Mega Drive</span>
            <span class="tag run_gun">Run and Gun</span>
            <span class="tag beaten">Beaten in: May/2024</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/contra.png') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/contra.png') }}" alt="Contra Hard Corps (1994)">
        </a>
    </div>
</div>

<div class="item switch col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Crash Bandicoot 1 (1996)</p>
        <div class="tags">
            <span class="tag switch">Nintendo Switch</span>
            <span class="tag dplat">3D Platformer</span>
            <span class="tag beaten">Beaten in: 2022</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/crash1.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/crash1.jpg') }}" alt="Crash Bandicoot 1 (1996)">
        </a>
    </div>
</div>

<div class="item pc col-lg-3 col-md-4 col-6 col-sm">
    <div class="image-container">
        <p class="image-description">Cuphead (2017)</p>
        <div class="tags">
            <span class="tag pc">PC</span>
            <span class="tag run-gun">Run and Gun</span>
            <span class="tag beaten">Beaten in: 2017</span>
        </div>
        <a href="{{ url_for('static', filename='images/games/Cuphead.jpg') }}" class="fancylight popup-btn" data-fancybox-group="light"> 
            <img class="img-fluid" src="{{ url_for('static', filename='images/games/Cuphead.jpg') }}" alt="Cuphead (2017)">
        </a>
    </div>
</div>

</html> 