<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>André Vargas - Machine Learning Engineer</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-xsmall.css') }}" media="(max-width: 600px)">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-small.css') }}" media="(min-width: 601px) and (max-width: 800px)">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-medium.css') }}" media="(min-width: 801px) and (max-width: 1200px)">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" media="(min-width: 1201px)">

</head>

<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Projects</a>
        <div class="dropdown-content">
          <a href="{{ url_for('sentiment_analysis') }}">Sentiment Analysis</a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<body>
    <div class="intro">
      <h1>Hi there, I'm <span>André</span>!</h1>


      <!-- Typing Effect -->
      <div class="flex">
        <p1>I am </p1></p><p class="header-sub-title" id="word"></p><p class="header-sub-title blink">|</p>
      </div> 

      

      <!-- Social Links -->
      <div class="social-links">
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/andrevargas22" target="_blank">
          <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn">
        </a>
        <!-- GitHub -->
        <a href="https://github.com/andrevargas22" target="_blank">
          <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub">
        </a>
        <!-- Medium -->
        <a href="https://medium.com/@andrevargas22" target="_blank">
          <img src="{{ url_for('static', filename='images/medium.png') }}" alt="Medium">
        </a>
      </div>
    </div>
    <div class="profile-pic">
        <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile Picture">
    </div>

  <!-- My own JS -->
  <script src="{{ url_for('static', filename='js/typing.js') }}"></script>
  
</body>
</html>
